<?xml version="1.0" encoding="utf-8"?>

<!--
  Model primitives.

  Author: Helio Perroni Filho
-->

<robot name="rosbot3" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find rosbot3_description)/urdf/rosbot3.xacro"/>
  <xacro:include filename="$(find ros_commons)/urdf/gazebo.xacro"/>

  <xacro:property name="traction_wheel_drive_type" value="rear"/>


  <xacro:differential_controller
    name="wheels_center"
    left_joint="joint_wheel_${traction_wheel_drive_type}_left"
    right_joint="joint_wheel_${traction_wheel_drive_type}_right"
    wheel_separation="${body_width}"
    wheel_diameter="${wheel_diameter}"
  />
  <!--
    Rear traction drive type
    <xacro:remove_friction position="rear"/> 
  -->

  <xacro:remove_friction position="front"/>

  <xacro:depth_camera name="camera_front"/>
  <xacro:lidar_2d name="laser"/>
</robot>
